#about {
    margin:10%;
    align-items:center;
    border:solid 1px var(--quaternary-color);
}

#about-text {
    padding:5%;
}

#about-imgs {
    text-align:center;
}

#about-imgs div {
    margin:0 5px;
}

#about-text h2 {
    text-align:center;
    font-size:1.2em;
}

#about-text p {
    font-size:1.05em;
}

@media only screen and (orientation:landscape) {
    #about-text {
        padding:3%;
        font-size:100%;
    }

    #about-imgs div:first-child {
        margin-top:3px;
    }

    #about-text h2 {
        font-size:1.5em;
    }

    #about-text p {
        font-size:1em;
    }
}