.w3-modal {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:#00000080;
}

.w3-modal-content {
  margin:auto;
  background-color:var(--secondary-color);
  border:solid 3px var(--quinary-color);
  border-radius:5px;
  position:relative;
  top:8%;
  padding:1% 4%;
  width:80%;
}

.w3-button {
  font-size:1.5em;
  color:var(--quaternary-color);
}

.w3-display-topright {
  position:absolute;
  top:5px;
  right:10px;
}

.w3-modal h2 {
  text-align:center;
  color:var(--primary-color);
}

.w3-modal p {
  margin:5% 0;
}

.w3-modal label {
  font-weight:bold;
  color:var(--quaternary-color);
}

.w3-modal input, .w3-modal select, .w3-modal textarea {
  margin-top:5px;
  border:solid 1px var(--tertiary-color);
  border-radius:3px;
}

.w3-modal section input {
  border:none;
}

.submit-button {
  background:var(--quinary-color);
  border:solid 1px var(--quinary-color);
  border-radius:3px;
  color:#fff;
  padding:3px 5px;
  font-size:1em;
}

.yes-no-buttons {
  margin-bottom:10px;
}

.yes-no-buttons button:first-child {
  margin-right:2px;
}

.yes-no-buttons button:last-child {
  margin-left:2px;
}

#img-preview {
  max-width: 100%;
}

@media only screen and (orientation:landscape) {
  .w3-modal-content {
    width:50%;
    padding:0.5% 2%;
    top:12.5px;
  }

  .w3-modal p {
    margin:3% 0;
    align-items:center;
  }

  .w3-modal input, .w3-modal select, .w3-modal textarea {
    margin-top:0;
    margin-left:10px;
  }

  .w3-modal section p {
    margin:10px 0;
    margin-top:0;
  }

  .w3-modal section input {
    margin-left:0;
    margin-top:5px;
  }

  #img-prev-section {
    flex:1;
  }

  #img-preview {
    max-width:95%;
  }

  #img-upload {
    flex:6;
  }
}