#logo-bg {
    background:url("./../images/deli-logo-bg.jpg");
    background-position:center;
    text-align:center;
}

#logo-bg img {
    width:35%;
    border-radius:50%;
    border:none;
}

@media only screen and (orientation:landscape) {
    #logo-bg img {
        width:20%;
    }
}