#home-cols {
    margin:5%;
    align-items:center;
}

#home-header h1 {
    text-align:center;
    font-size:1.25em;
    margin-top:5%;
    margin-bottom:0;
}

#home-text {
    padding:1%;
}

#home-p {
    font-size:1.05em;
}

@media only screen and (orientation:landscape) {
    #home-header h1 {
        font-size:revert;
    }

    #home-cols {
        margin:2.5%;
        margin-top:1%;
    }

    #home-text {
        padding:3% 7%;
    }

     #home-p {
        font-size:100%;
     }
}