#home-cols {
    margin:5%;
    align-items:center;
}

#home-header h1 {
    text-align:center;
    font-size:1.25em;
    margin-top:5%;
    margin-bottom:0;
}

#home-text {
    padding:1%;
}

#home-p {
    font-size:1.05em;
}

#btn-p {
    text-align:center;
}

/* Button */
#btn-order-now {
    margin-top:5%;
    font-weight:bold;
    font-size:1.1em;
    padding:5% 20%;
    background:linear-gradient(to top, var(--quinary-color) 50%, var(--primary-color) 50%);
    background-size:100% 200%;
    background-position:0 100%;
    transition:all 0.2s ease-in-out;
    overflow:hidden;
    color:#fff;
    border:none;
    border-radius:7px;
}

#btn-order-now:hover {
    background-position:0 0;
}

@media only screen and (orientation:landscape) {
    #home-header h1 {
        font-size:revert;
    }

    #home-cols {
        margin:2.5%;
        margin-top:1%;
    }

    #home-text {
        padding:3% 7%;
    }

    #btn-order-now {
        border-radius:15px;
    }
    
    #btn-order-now, #home-p {
        font-size:100%;
    }
}