.menu-item {
    align-items:center;
    margin-bottom:15%;
    background:var(--quinary-color);
    padding:3%;
    box-shadow:3px 3px 3px #000;
}

.menu-item:hover {
    transition:0.25s ease;
    transform:translateY(-5px);
}

@media only screen and (orientation:landscape) {
    .menu-item {
        margin:5% 0;
        padding:1.5%;
        box-shadow:8px 8px 5px #000;
    }

    .menu-item-img {
        margin-right:4%;
    }
}