#small-toggle-nav {
    background:var(--quaternary-color);
    padding:5px;
}

#small-toggle-nav div {
    width:5%;
    height:2px;
    background-color:var(--tertiary-color);
    margin:4px 0;
}

#nav-items {
    background:var(--primary-color);
    color:#fff;
    text-align:center;
}

#main-nav li {
    padding:13px;
    border-top:solid 1px #fff;
}

.nav-links {
    padding:15px;
    font-weight:bold;
    font-size:1.2em;
    text-decoration:none;
    color:#fff;
}

.nav-links:hover {
    background-color:var(--quinary-color);
    border-radius:10px;
    transition:0.2s;
}

@media only screen and (orientation:landscape) {
    #main-nav li {
        border-top:none;
        padding:25px;
    }

    .nav-links {
        font-size:1.5em;
    }

    #small-toggle-nav {
        display:none;
    }
}