#nav-items {
    background:#A72608;
    color:#fff;
    text-align:center;
}

#main-nav li {
    padding:25px;
    border-top:solid 1px #fff;
}

/* Classes */
.links {
    padding:15px;
    font-weight:bold;
    font-size:1.5em;
    text-decoration:none;
    color:#fff;
}

.links:hover {
    background-color:#50A2A7;
    border-radius:10px;
    transition:0.2s;
}

/* Resolution */
@media only screen and (orientation:landscape) {
    #main-nav li {
        border-top:none;
    }
}