#orders h2 {
    font-size:120%;
}

#orders .special-columns {
    justify-content:center;
    align-items:center;
}

.back-button {
    background:var(--secondary-color);
    border:solid 1px var(--quaternary-color);
    border-radius:5px;
    margin-right:15px;
    font-size:1em;
}

.previews {
    margin:5%;
}

.item-img {
    padding:7%;
}

.item-text h2 {
    text-align:center;
}

.item-text h3 {
    border:solid 1px var(--quaternary-color);
    border-bottom:none;
    padding:1.5%;
    margin:0 5%;
    margin-top:5%;
    font-size:110%;
}

.item-text p:not(:first-child) {
    border:solid 1px var(--quaternary-color);
    padding:3%;
    margin:0 5%;
}

@media only screen and (orientation:landscape) {
    #orders h2, .item-text h3 {
        font-size:revert;
    }

    .previews {
        align-items:center;
    }

    .item-img {
        padding:0;
    }
}