#store-hours h2 {
    text-align:center;
    font-size:1.2em;
    padding:10px;
    background:var(--quaternary-color);
    color:#fff;
    border-radius:10px;
}

#hours-table {
    width:100%;
    border-collapse:collapse;
    background:var(--tertiary-color);
    border-radius:10px;
    font-size:0.9em;
}

#hours-table tr:not(:last-child) {
    border-bottom:solid 1px #000;
}

#hours-table tr td:last-child {
    text-align:right;
}

#hours-table td {
    margin:0;
    padding:3% 5%;
}

@media only screen and (orientation:landscape) {
    #store-hours h2 {
        padding:25px;
        border-radius:20px;
        font-size:revert;
    }

    #hours-table {
        border-radius:20px;
        font-size:revert;
    }

    #hours-table tr:not(:last-child) {
        border-bottom:solid 1.5px #000;
    }

    #hours-table td {
        padding:5%;
    }
}